@tailwind base;
@tailwind components;
@tailwind utilities;




.work{
  font-family: cursive;
  font-size: 45px;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20) infinite alternate-reverse;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}